[user]
	name = techno-tanoC
	email = develop.tanoc@gmail.com
[core]
	editor = vim
	quotepath = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[push]
	default = current
[alias]
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[pull]
	rebase = false
